html, body {
    margin: 0;
    height: 100%;

    & > div{
        margin: 0;
        height: 100%;
    }
}

.graph-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.graph-page{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}